# Git
.git
.gitignore

# Secrets (never include secrets in Docker images)
secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Docker
Dockerfile
.dockerignore

# Large files/directories that can be mounted as volumes instead
*.zip
*.tar
*.gz